body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #990033;
  font: 32px/1 Helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: bold;
}

h2 {
  color: #990033;
  text-align:left;
  font-weight:bold;
  margin: 0;
}

.mochatitle {
  color: white;
  font: 16px/1 Helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: bold;
}

.menu {
  font-weight: bold;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background: #444444;
  overflow: hidden;
}
.menu li {
  float: left;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 8px;
  background: #444444;
  color: white;
}
.menu a:hover {
  background: #111111;
}

p {
  font: 13px/1.4 Helvetica, Arial, sans-serif;
  text-align: justify;
}

label {
  display: block;
}

.menu a.current {
  background: #c4c4c4;
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
}

#logo {
  height: 350px;
  margin-bottom: 5px;
}
#logo img {
  height: 100%;
}

#networks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#networks li {
  float: left;
}
#networks a {
  text-decoration: none;
  display: block;
  padding: 8px;
}

.loadfile {
  background-color: #444444;
  border-radius: 10px;
  line-height: 80px;
  width: 700px;
  height: 20px;
  padding: 10px 10px 15px 10px;
  margin: 10px auto;
}
.loadfile button, .loadfile input {
  color: #444444;
  float: left;
  list-style: none;
  display: inline;
  text-align: center;
  font-weight: bolder;
}
.loadfile button:hover, .loadfile input:hover {
  cursor: pointer;
}

#parse {
  border-radius: 15px;
  border: none;
  padding: 10px;
  font-weight: bold;
  background-color: #904;
  color: white;
}

#parse:hover {
  cursor: pointer;
  background-color: #0083ff;
  color: #000;
}

.error {
  color: white;
  background-color: #990033;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.left {
  text-align: left;
}

#output {
  padding: 35px;
  text-align: left;
  color: white;
  border-radius: 10px;
  background-color: #000;
}

#input {
  text-align: left;
  width: 100%;
}

form {
  margin-top: 5px;
  text-align: left;
}

